<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lyrical - <%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <link href="/stylesheets/bootstrap4-toggle.min.css" rel="stylesheet" />

    <link href="/stylesheets/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="/stylesheets/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="/stylesheets/bootstrap-glyphicons.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>

  <body></body>
</html>
