<% include ./layouts/header.ejs %>
<div class="main">
  <div class="container body-container">
    <div class="card col-md-8 offset-md-2">
      <div class="card-body text-center">
        <div class="row">
          <div class="col-md-12">
            <h2>Thank You!</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p><%= message %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ./layouts/inner-footer.ejs %>
</div>
<% include ./layouts/footer.ejs %>
